html {
  /* make the height of the html element to 100%*/
  height: 100%;
}

body {
  font-family: 'Newsreader', serif;
  background-image: linear-gradient(rgb(0, 0, 0) , rgb(188, 188, 188));
  margin: 0px;
  /* Center and scale the background image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /*so the image will not change when the page get*/
}

.navbar {
  overflow: hidden;
  background-color: aliceblue;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar a { /*this is for the home buttonback
  , the a link*/
  /*makes every link align to the left, the next one to the right 
  of the previous. If write, float: right, then the next one will be to the left of the previous. */
  float: left;
  padding: 20px 20px;
  text-decoration: none; /*to remove the underline of the link*/
}

#page1 {
  font-size: 23px;
  color: #426B1F;
  text-align: center;
}

.dropdown { /* Themes button */
  /* position: relative;
  display: inline-block; */
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn { /*this is specifically for the list in the dropdown box*/
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 20px 16px;
  /*need to include these two lines because button doesn't follow the body styling if not specified*/
  background-color: inherit; /* a property should inherit its value from its parent element */
  font-family: inherit;  /*inherit the font from its parent element */
  margin: 100; /* not doing anything here*/
  border: none;
  border-radius: 4px;
}

#page1:hover {
  text-decoration: underline;
}

.dropdown:hover .dropbtn {
  border: 2px solid #426B1F;
  border-radius: 8px;
}
 
.dropdown-content {/*styling for the list*/
  display: none; /* need this, so the list only show when hovering */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a { /*styling for the list of dropdown*/
  float: none;  /* so that the list will be down*/
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  /* displays an element as a block element (like <p>). 
  It starts on a new line, and takes up the whole width*/
  display: block;  
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border: 2px solid #426B1F; 
  border-radius: 8px;
}


.dropdown:hover .dropdown-content { /* when hover over dropdown button, will show a list */ 
  display: block;
}

.todo-container {
  background-color: #fffdd1;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  min-height: 200px; /* Adjusted height */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; 
  /* not sure how to center it vertically */
}
  
#add-button {
  font-family: inherit;
  padding: 8px 10px;
  background-color: #426B1F;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
#add-button:hover {
  background-color: #218838;
}
  
  
input[type="text"] {
  padding: 8px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}
    
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the summary box */
/* .summary {
  border:1px solid #218838;
} */

.summaryBox p {
  display: inline-block;
}

.leftContent{
  text-align: left;
  /* width: 50%; */
  max-width: 100%;
}
.rightContent{
  text-align: right;
  /* width: 50% ;*/
  max-width: 100%;
}



.input-group {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 300px;

}

input[type=radio] {
  height:20px;
  width: 40px;
  
}
