body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    min-height: 200px; /* Adjusted height */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .upperRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }   
  /* Styles for the dropdown menu */
.upperRight {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#themeButton {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 90px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #218838;
}
#theme2 {
  background-image: url(images.jpeg);
}
#theme1 {background-image: url('path/to/image1.jpg');}
#theme3 {background-image: url('path/to/image3.jpg');}
#theme4 {background-image: url('path/to/image4.jpg');}
#theme5 {background-image: url('path/to/image5.jpg');}
#theme6 {background-image: url('path/to/image6.jpg');}
#theme7 {background-image: url('path/to/image7.jpg');}

#age1 {
  padding: 12px;


}


.input-group {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 300px;

}


input[type=radio] {
  height:20px;
  width: 40px;
  
}

